/* Main */

html,
body {
  height: 100%;
}
body {
  background: #F5F5F5;
}

/* Login */

.main.login {
  display: flex;
  min-height: 100%;
}
.login .container {
  max-width: 320px;
}
.login form .checkbox {
  font-weight: 400;
}
.login form .form-control {
  box-sizing: border-box;
  font-size: 16px;
  height: auto;
  padding: 10px;
  position: relative;
}

/* Registrierung */

.main.register {
  display: flex;
  min-height: 100%;
}
.register .container {
  max-width: 500px;
}

/* Übersicht */

header.overview {
  height: 56px !important;
  position: fixed !important;
  z-index: 2 !important;
}

main.overview {
  padding-top: 72px !important;
  position: relative !important;
  z-index: 1 !important;
}
main.overview .maincolumn > div,
main.overview .leftcolumn > div {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, .125);
  overflow: auto;
}

/* Tree view */

main.overview .leftcolumn {
  float: left;
  margin-right: 15px;
  max-width: 320px;
  transition: all 300ms ease;
  width: 100%;
}
main.overview .leftcolumn.active {
  margin-left: -320px;
}
main.overview .leftcolumn .file-list {
  margin: 0;
  padding: 0;
}
main.overview .leftcolumn .file-list ul {
  border-left: 1px dotted #AAAAAA;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 20px;
}
main.overview .leftcolumn .file-list li {
  cursor: pointer;
  list-style-type: none;
  position: relative;
}
main.overview .leftcolumn .file-list li a::before{
  color: #007BFF !important;
  content: "\f07b";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  left: 0;
  line-height: 25px;
  list-style-type: none;
  position: absolute;
  top: 0;
  width: 20px;
}
main.overview .leftcolumn .file-list li a {
  color: #212529;
  display: block;
  line-height: 25px;
  padding: 0 0 0 30px;
  text-decoration: none;
  transition: color 300ms ease;
}
main.overview .leftcolumn .file-list li.selected > a,
main.overview .leftcolumn .file-list li a:hover {
  color: #007BFF !important;
}
main.overview .leftcolumn .file-list li a::after {
  border-bottom: 1px dotted #AAAAAA;
  content: "";
  display: block;
  height: 1px;
  left: -20px;
  position: absolute;
  top: 12px;
  width: 10px;
}
main.overview .leftcolumn .file-list > li > a::after {
  display: none !important;
}
main.overview .leftcolumn .file-list li a span {
  position: relative;
  top: 2px;
}
main.overview .leftcolumn .file-list li.folder-root {
  list-style-type: none;
}
main.overview .leftcolumn .file-list li.folder-root a {
  text-decoration: none;
}
main.overview .leftcolumn .file-list li.folder-root.closed a::before {
  color: #FFD04E;
  content: "\f07b";
}
main.overview .leftcolumn .file-list li.folder-root.open a::before {
  content: "\f07c";
}
main.overview .leftcolumn .file-list li.folder-root ul {
  transition: all 300ms ease-in-out;
  overflow: hidden;
}
main.overview .leftcolumn .file-list li.folder-root.closed > ul {
  max-height: 0;
  opacity: 0;
}
main.overview .leftcolumn .file-list li.folder-root.open > ul {
  display:block;
  max-height: 1000px;
  opacity: 1;
}

/* Drag & Drop */

.uploadBox {
  background: #F5F5F5;
  outline: 2px dashed #7F8C8D;
  outline-offset: -10px;
  padding: 50px 20px;
  position: relative;
  text-align: center;
  transition: outline-offset 300ms ease;
}
.uploadBox .box-dragndrop,
.uploadBox .box-uploading,
.uploadBox .box-success,
.uploadBox .box-error {
  display: none;
}
.uploadBox.is-dragover {
  outline-offset: -15px;
}
.uploadBox .box-icon {
  display: block;
  fill: #7F8C8D;
  height: 50px;
  margin-bottom: 20px;
  width: 100%;
}
.uploadBox .box-dragndrop {
  display: inline;
}
.uploadBox .box-input input {
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  z-index: -1;
}
.uploadBox .box-input label {
  color: #7F8C8D;
}
.uploadBox .box-input label.dropped {
  display: none;
}
.uploadBox.is-dropped .box-input label.default {
  display: none;
}
.uploadBox.is-dropped .box-input label.dropped {
  display: block;
}
.uploadBox.is-uploading .box-input {
  visibility: none;
}
.uploadBox.is-uploading .box-uploading {
  display: block;
}

/* 404 */

.page-error {
  min-height: 100vh;
}

/* Responsive */

@media (max-width: 768px){

  ul.navbar-nav li.sidebar {
    display: block !important;
  }
  main.overview .leftcolumn {
    margin-left: -335px;
  }
  main.overview .leftcolumn.active {
    margin-left: 0;
  }

}