@charset "UTF-8";
/* Main */
/* line 3, ../scss/main.scss */
html,
body {
  height: 100%;
}

/* line 7, ../scss/main.scss */
body {
  background: #F5F5F5;
}

/* Login */
/* line 13, ../scss/main.scss */
.main.login {
  display: flex;
  min-height: 100%;
}

/* line 17, ../scss/main.scss */
.login .container {
  max-width: 320px;
}

/* line 20, ../scss/main.scss */
.login form .checkbox {
  font-weight: 400;
}

/* line 23, ../scss/main.scss */
.login form .form-control {
  box-sizing: border-box;
  font-size: 16px;
  height: auto;
  padding: 10px;
  position: relative;
}

/* Registrierung */
/* line 33, ../scss/main.scss */
.main.register {
  display: flex;
  min-height: 100%;
}

/* line 37, ../scss/main.scss */
.register .container {
  max-width: 500px;
}

/* ├£bersicht */
/* line 43, ../scss/main.scss */
header.overview {
  height: 56px !important;
  position: fixed !important;
  z-index: 2 !important;
}

/* line 48, ../scss/main.scss */
main.overview {
  padding-top: 72px !important;
  position: relative !important;
  z-index: 1 !important;
}

/* line 53, ../scss/main.scss */
main.overview .leftcolumn > div,
main.overview .maincolumn > div,
main.overview .rightcolumn > div {
  background: #FFFFFF;
}

/* line 58, ../scss/main.scss */
main.overview .leftcolumn ul.nav {
  list-style: none;
  padding: 0;
}

/* line 62, ../scss/main.scss */
main.overview .leftcolumn ul.nav li {
  list-style: none;
}

/* line 65, ../scss/main.scss */
main.overview .leftcolumn ul.nav li ul {
  padding-left: 20px;
}
