/* Main */
/* line 3, ../scss/main.scss */
html,
body {
  height: 100%;
}

/* line 7, ../scss/main.scss */
body {
  background: #F5F5F5;
}

/* line 10, ../scss/main.scss */
.main {
  align-items: center;
  -ms-flex-align: center;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  text-align: center;
}

/* Login */
/* line 21, ../scss/main.scss */
.login .container {
  max-width: 375px;
}

/* line 24, ../scss/main.scss */
.login form .checkbox {
  font-weight: 400;
}

/* line 27, ../scss/main.scss */
.login form .form-control {
  box-sizing: border-box;
  font-size: 16px;
  height: auto;
  padding: 10px;
  position: relative;
}

/**/
